
body {
    margin: 0;
    padding: 0;
}

/* First section */

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    color: #f9faf8;
}

.header-logo {
    font-size: 24px;
}

.header-container {
    display: flex;
    font-family: Roboto;
    color: #e5e7eb;
    font-size: 18px;
}  

h4 {
    padding: 0 10px;
}

/* Second section */
.pitch {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 4% 0 ;
    color: #f9faf8
}

.hero-text {
    font-size: 48px;
}

.left-box {
    margin-left: 17.5%;
    padding-right: 4%;
}

.sign-up-button {
    background-color: #3882f6;
    border-radius:  7px; /* for rounded corners */
    width: 75px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-box {
    background-color: gray;
    margin-right: 18%;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

