
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* First section */

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    color: #f9faf8;
}

.header-logo {
    font-size: 24px;
    margin-left: 17.5%;
}

.header-container {
    display: flex;
    font-family: Roboto;
    color: #e5e7eb;
    font-size: 18px;
    margin-right: 17.5%;
}  

h4 {
    padding: 0 10px;
}

/* Second section */
.pitch {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 4% 0 ;
    color: #f9faf8
}

.hero-text {
    font-size: 48px;
}

.left-box {
    margin-left: 17.5%;
    padding-right: 4%;
}

.sign-up-button {
    background-color: #3882f6;
    border-radius:  7px; /* for rounded corners */
    width: 75px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-box {
    background-color: gray;
    margin-right: 18%;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Third section */
.random-information {
    display: flex;
    justify-content: center;
    padding: 2% 0;
}

 /* Fourth section */
 .subtext-containers {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 100px;
 }


 .box1 {
    height: 200px;
    width: 200px;
    border-color: #3882f6;
    border-style: solid;
    border-radius: 20px;
}

.box2 {
    height: 200px;
    width: 200px;
    border-color: #3882f6;
    border-style: solid;
    border-radius: 20px;
}

.box3 {
    height: 200px;
    width: 200px;
    border-color: #3882f6;
    border-style: solid;
    border-radius: 20px;
}

.box4 {
    height: 200px;
    width: 200px;
    border-color: #3882f6;
    border-style: solid;
    border-radius: 20px;
}

.subtext1 {
    width: 200px;
    text-align: center;
}

.subtext2 {
    width: 200px;
    text-align: center;
}

.subtext3 {
    width: 200px;
    text-align: center;
}

.subtext4 {
    width: 200px;
    text-align: center;
}

 /* Fifth section */
.quote-container {
    background-color: #e5e7eb;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 100px;
    padding-bottom: 35px;
}

 .quote {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-style: italic;
 }

 .thor {
    display: flex;
    justify-content: end;
    font-size: 24px;
    font-weight: bolder;
 }

  /* Sixth section */
.blue-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.blue-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: 800px;
    height: 100px;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 10px;
  }

.blue-box-left {
    
}

.blue-box-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 30px;
    border-style: solid;
    border-color: #f9faf8;
    border-radius: 10px;
}